.BackDrop{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    visibility:hidden ;
    transition: 0.3s;
}
.showBackDrop{
    visibility: visible;
    opacity: 0.8;
}
.Overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    visibility: hidden;
    transition: 0.09s;
    height: 75%;
    overflow-y: scroll;
}
.showOverlay{
    visibility: visible;
}